<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Geo Jacob | Profile</title>

    <!-- Bootstrap -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">

    <link href="{{ STATIC_URL }}css/cover.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <!--<h3 class="masthead-brand">Cover</h3>-->
              <ul class="nav masthead-nav" id="topnav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#projects">Projects</a></li>
				<li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <img src="{{ STATIC_URL }}images/promotion.jpg" class="img-responsive img-circle" alt="Responsive image">
            <h1 class="cover-heading">Hi I'm Geo Jacob</h1>
            <p class="lead">This area is deserved to describe about me</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Contact me</a>
            </p>
          </div>

          <!--<div class="mastfoot">-->
            <!--<div class="inner">-->
              <!--<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>-->
            <!--</div>-->
          <!--</div>-->

        </div>

      </div>

    </div>

    <div class="container site-wrapper" id="projects">
       <div class="site-wrapper-inner">
             <div class="row">
			  {% for project in projects %}
              <div class="{% if forloop.last and not forloop.counter|divisibleby:2 %}col-md-6 col-md-push-3{% else %}col-sm-6 col-md-6{% endif %}">
                <div class="thumbnail thmb-bg-clr">
                  <img src="{{ project.logo.url }}" class="img-responsive img-circle" alt="Responsive image">
                  <div class="caption">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                    {% if project.url %}<p><a href="{{ project.url }}" class="btn btn-default" role="button">visit website</a></p>{% endif %}
                  </div>
                </div>
              </div>
			{% endfor %}
         </div>
       </div>
    </div>
    <div class="site-wrapper" id="skills">

      <div class="site-wrapper-inner">
          <div class="row">
			  {% if skills %}
			  {% for skill in skills %}
              <div class="col-md-1"><img src="{{ skill.logo.url }}" class="img-responsive" alt="Responsive image"></div>
			  {% endfor %}
			  {% endif %}
          </div>
      </div>
    </div>

	<div class="site-wrapper" id="contact">

      <div class="site-wrapper-inner">
          <div class="row">
				<button type="button" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-envelope bg-drk-gry"></span> Let's Talk
				</button>
					<address>
					  <strong>Twitter, Inc.</strong><br>
					  795 Folsom Ave, Suite 600<br>
					  San Francisco, CA 94107<br>
					  <abbr title="Phone">P:</abbr> (123) 456-7890
					</address>
					
					<address>
					  <strong>Full Name</strong><br>
					  <a href="mailto:#">first.last@example.com</a>
					</address>
				
				<div class="mastfoot col-md-6 col-md-offset-3">
              		<p class="lead clr-blk">Copyright © 2014. All rights reserved.</p>
		        </div>
          </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			$('#topnav li').click(function(){
				$('#topnav li').removeClass('active');
				$(this).addClass('active');
			});
		});
	</script>
  </body>
</html>
